# Created by .ignore support plugin (hsz.mobi)
**/target/
**/bin/
*.iml
.idea/
**/*.iml
**/.gradle/

venv/
*.class
**/cmake-build-debug/

**/.project
**/build
**/gradle
**/gradlew
**/gradlew.bat
.project
org.*
.classpath
.factorypath

**/.vs
**/.vscode
**/node_modules
**/book/
*.lock

little_code
